USE [master]
GO
/****** Object:  Database [DSDESBATENCION]    Script Date: 05/28/2012 01:34:34 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DSDESBATENCION')
BEGIN
CREATE DATABASE [DSDESBATENCION] ON  PRIMARY 
( NAME = N'DSDESBATENCION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DSDESBATENCION.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DSDESBATENCION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DSDESBATENCION_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSDESBATENCION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSDESBATENCION]
GO
/****** Object:  Table [dbo].[RENIEC.CIUDADANO]    Script Date: 05/28/2012 01:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RENIEC.CIUDADANO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RENIEC.CIUDADANO](
	[DNI] [nchar](8) NOT NULL,
	[APELLIDOPATERNO] [nvarchar](50) NULL,
	[APELLIDOMATERNO] [nvarchar](50) NULL,
	[NOMBRES] [nvarchar](50) NOT NULL,
	[FECHANACIMIENTO] [nchar](8) NOT NULL,
	[DIRECCION] [nvarchar](100) NOT NULL,
	[USUARIOREGISTRO] [nvarchar](50) NOT NULL,
	[FECHAREGISTRO] [datetime] NOT NULL,
	[USUARIOMODIFICA] [nvarchar](50) NULL,
	[FECHAMODIFICA] [datetime] NULL,
 CONSTRAINT [PK_RENIEC.CIUDADANO] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[EPS.ASEGURADO]    Script Date: 05/28/2012 01:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EPS.ASEGURADO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EPS.ASEGURADO](
	[CODIGOASEGURADO] [nchar](10) NOT NULL,
	[DNI] [nchar](8) NOT NULL,
	[POLIZA] [nchar](10) NOT NULL,
	[TOTALPOLIZA] [decimal](18, 2) NOT NULL,
	[ESTADO] [nchar](1) NOT NULL,
	[USUARIOREGISTRO] [nvarchar](50) NOT NULL,
	[FECHAREGISTRO] [datetime] NOT NULL,
	[USUARIOMODIFICA] [nvarchar](50) NULL,
	[FECHAMODIFICA] [datetime] NULL,
 CONSTRAINT [PK_EPS.ASEGURADO] PRIMARY KEY CLUSTERED 
(
	[CODIGOASEGURADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[COMUN.USUARIO]    Script Date: 05/28/2012 01:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMUN.USUARIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COMUN.USUARIO](
	[USUARIO] [nvarchar](20) NOT NULL,
	[CONTRASENA] [nvarchar](20) NOT NULL,
	[NOMBRECOMPLETO] [nvarchar](50) NOT NULL,
	[ESTADO] [nchar](1) NOT NULL,
	[FECHAREGISTRO] [datetime] NOT NULL,
	[USUARIOREGISTRO] [nvarchar](20) NOT NULL,
	[FECHAMODIFICACION] [datetime] NULL,
	[USUARIOMODIFICACION] [nchar](20) NULL,
 CONSTRAINT [PK_COMUN.USUARIO] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[COMUN.ESPECIALIDAD]    Script Date: 05/28/2012 01:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMUN.ESPECIALIDAD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COMUN.ESPECIALIDAD](
	[CODIGO] [nchar](10) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
	[ESTADO] [nchar](1) NOT NULL,
	[FECHAREGISTRO] [datetime] NOT NULL,
	[USUARIOREGISTRO] [nvarchar](2) NOT NULL,
	[FECHAMODIFICACION] [datetime] NULL,
	[USUARIOMODIFICACION] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CLINICA.PERSONALMEDICO]    Script Date: 05/28/2012 01:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLINICA.PERSONALMEDICO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CLINICA.PERSONALMEDICO](
	[CODIGO] [nchar](10) NOT NULL,
	[APELLIDOPATERNO] [nvarchar](50) NOT NULL,
	[APELLIDOMATERNO] [nvarchar](50) NOT NULL,
	[NOMBRES] [nvarchar](50) NOT NULL,
	[TIPODOCUMENTOID] [nchar](1) NOT NULL,
	[NUMERODOCUMENTOID] [nvarchar](15) NOT NULL,
	[ESPECIALIDADID] [nchar](3) NOT NULL,
	[NUMEROCMP] [nchar](10) NOT NULL,
	[FECHANACIMIENTO] [nchar](10) NOT NULL,
	[ESTADOCIVIL] [nchar](1) NOT NULL,
	[DIRECCION] [nvarchar](100) NOT NULL,
	[TELEFONOFIJO] [nvarchar](15) NULL,
	[MOVILMOVISTAR] [nchar](9) NULL,
	[RPM] [nvarchar](10) NULL,
	[MOVILCLARO] [nchar](9) NULL,
	[RPC] [nchar](9) NULL,
	[ESTADO] [nchar](1) NOT NULL,
	[FECHAREGISTRO] [datetime] NOT NULL,
	[USUARIOREGISTRO] [nvarchar](20) NOT NULL,
	[FECHAMODIFICACION] [datetime] NULL,
	[USUARIOMODIFICACION] [nvarchar](20) NULL,
 CONSTRAINT [PK_CLINICA.PERSONALMEDICO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CLINICA.PACIENTE]    Script Date: 05/28/2012 01:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLINICA.PACIENTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CLINICA.PACIENTE](
	[DNI] [nchar](8) NOT NULL,
	[APELLIDOPATERNO] [nvarchar](50) NULL,
	[APELLIDOMATERNO] [nvarchar](50) NULL,
	[NOMBRES] [nvarchar](50) NULL,
	[FECHANACIMIENTO] [nchar](10) NULL,
	[DIRECCION] [nvarchar](100) NULL,
	[TELEFONOFIJO] [nvarchar](15) NULL,
	[MOVILMOVISTAR] [nchar](9) NULL,
	[RPM] [nchar](10) NULL,
	[MOVILCLARO] [nchar](9) NULL,
	[RPC] [nchar](9) NULL,
	[MOVILNEXTEL] [nchar](9) NULL,
	[NEXTEL] [nchar](10) NULL,
	[ESTADOCIVIL] [nchar](1) NULL,
	[CODIGOASEGURADO] [nchar](10) NULL,
	[ESTADO] [char](1) NOT NULL,
	[FECHAREGISTRO] [datetime] NOT NULL,
	[USUARIOREGISTRO] [nvarchar](20) NOT NULL,
	[FECHAMODIFICACION] [datetime] NULL,
	[USUARIOMODIFICACION] [nvarchar](20) NULL,
 CONSTRAINT [PK_CLINICA.PACIENTE] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__EPS.ASEGU__ESTAD__25869641]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__EPS.ASEGU__ESTAD__25869641]') AND parent_object_id = OBJECT_ID(N'[dbo].[EPS.ASEGURADO]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__EPS.ASEGU__ESTAD__25869641]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EPS.ASEGURADO] ADD  DEFAULT ('A') FOR [ESTADO]
END


End
GO
/****** Object:  Default [DF_EPS.ASEGURADO_FECHAREGISTRO]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_EPS.ASEGURADO_FECHAREGISTRO]') AND parent_object_id = OBJECT_ID(N'[dbo].[EPS.ASEGURADO]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_EPS.ASEGURADO_FECHAREGISTRO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EPS.ASEGURADO] ADD  CONSTRAINT [DF_EPS.ASEGURADO_FECHAREGISTRO]  DEFAULT (getdate()) FOR [FECHAREGISTRO]
END


End
GO
/****** Object:  Default [DF__COMUN.USU__ESTAD__164452B1]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__COMUN.USU__ESTAD__164452B1]') AND parent_object_id = OBJECT_ID(N'[dbo].[COMUN.USUARIO]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__COMUN.USU__ESTAD__164452B1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[COMUN.USUARIO] ADD  DEFAULT ('A') FOR [ESTADO]
END


End
GO
/****** Object:  Default [DF__COMUN.USU__FECHA__173876EA]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__COMUN.USU__FECHA__173876EA]') AND parent_object_id = OBJECT_ID(N'[dbo].[COMUN.USUARIO]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__COMUN.USU__FECHA__173876EA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[COMUN.USUARIO] ADD  DEFAULT (getdate()) FOR [FECHAREGISTRO]
END


End
GO
/****** Object:  Default [DF__COMUN.ESP__ESTAD__1273C1CD]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__COMUN.ESP__ESTAD__1273C1CD]') AND parent_object_id = OBJECT_ID(N'[dbo].[COMUN.ESPECIALIDAD]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__COMUN.ESP__ESTAD__1273C1CD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[COMUN.ESPECIALIDAD] ADD  DEFAULT ('A') FOR [ESTADO]
END


End
GO
/****** Object:  Default [DF__COMUN.ESP__FECHA__1367E606]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__COMUN.ESP__FECHA__1367E606]') AND parent_object_id = OBJECT_ID(N'[dbo].[COMUN.ESPECIALIDAD]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__COMUN.ESP__FECHA__1367E606]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[COMUN.ESPECIALIDAD] ADD  DEFAULT (getdate()) FOR [FECHAREGISTRO]
END


End
GO
/****** Object:  Default [DF_CLINICA.PERSONALMEDICO_FECHAREGISTRO]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_CLINICA.PERSONALMEDICO_FECHAREGISTRO]') AND parent_object_id = OBJECT_ID(N'[dbo].[CLINICA.PERSONALMEDICO]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_CLINICA.PERSONALMEDICO_FECHAREGISTRO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CLINICA.PERSONALMEDICO] ADD  CONSTRAINT [DF_CLINICA.PERSONALMEDICO_FECHAREGISTRO]  DEFAULT (getdate()) FOR [FECHAREGISTRO]
END


End
GO
/****** Object:  Default [DF_CLINICA.PACIENTE_ESTADO]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_CLINICA.PACIENTE_ESTADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[CLINICA.PACIENTE]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_CLINICA.PACIENTE_ESTADO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CLINICA.PACIENTE] ADD  CONSTRAINT [DF_CLINICA.PACIENTE_ESTADO]  DEFAULT ('A') FOR [ESTADO]
END


End
GO
/****** Object:  Default [DF_CLINICA.PACIENTE_FECHAREGISTRO]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_CLINICA.PACIENTE_FECHAREGISTRO]') AND parent_object_id = OBJECT_ID(N'[dbo].[CLINICA.PACIENTE]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_CLINICA.PACIENTE_FECHAREGISTRO]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CLINICA.PACIENTE] ADD  CONSTRAINT [DF_CLINICA.PACIENTE_FECHAREGISTRO]  DEFAULT (getdate()) FOR [FECHAREGISTRO]
END


End
GO
/****** Object:  Default [DF_CLINICA.PACIENTE_FECHAMODIFICACION]    Script Date: 05/28/2012 01:34:37 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_CLINICA.PACIENTE_FECHAMODIFICACION]') AND parent_object_id = OBJECT_ID(N'[dbo].[CLINICA.PACIENTE]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_CLINICA.PACIENTE_FECHAMODIFICACION]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CLINICA.PACIENTE] ADD  CONSTRAINT [DF_CLINICA.PACIENTE_FECHAMODIFICACION]  DEFAULT (getdate()) FOR [FECHAMODIFICACION]
END


End
GO
